.block-generic_content {
	margin-bottom:100px; //11/5
	z-index:3;
	position:relative;
	background-color:$black;
	color:$white;
	.gc-wrap {
		z-index:3;
		display:inline-block;
		width:100%;
	}
	.interior-box{
		max-width:800px;
		margin: 0 auto;
	}
	.gc-content{
		margin: 0 auto;
		padding:0px;	
		p, ul, li{
			margin-bottom: 30px;
			color:$white !important;
			b{ 
				font-weight: 700;
			}
		}
		li{
			margin-bottom:10px;
		}

	}
	.top-bar{
		display:none;
	}
	@media #{$bp-tab} {
		.gc-content{
			p{
				margin-bottom:30px;
			}
		}

		padding-left:30px;
		padding-right:30px;
		.interior-container{
			&.interior-box-wide{
				max-width:100%;
				.content{
					max-width:100%;
					display:block;
					padding-right:0;

				}
				.sidebar-box{
					display:block;
					width:100%;
				}
			}
			display:inline-block;
		}

		.left-bar{
			display:none;
		}
		.top-bar{
			width:200%;
			height:30px;
			display:block;
			float:none;
		}
		
	}

}
@media #{$bp-desk} {
	.block-generic_content {
		.interior-container{
			//padding-left:30px;
			//padding-right:30px;
		}
	}

}
