.block-accordion {

  .layout-content {
//    @extend .default-grid;
  }

  h3 {
    @include h5-style();
    text-align: center;
  }

  .accordion-wrapper {

    .accordion-content {
    }

    .accordion {
      border-bottom: 2px solid $light-grey;
      margin-top: 0;
        .js-open svg{
          transform: rotate(45deg);
        }

      dt {
        position: relative;
        padding: 40px 0;
        border-top: 1px solid #eee;
        .ava-override{
          padding:0;
          border:0;
          top:-80px;
          svg{
            height: 27px;
            width: 27px;
          }
        }
        a {
          display:block;
          font-family: modesto-text;
          font-style: normal;
          font-weight: normal;
          text-transform: none;
          font-size: 40px;
          letter-spacing: 0px;
          line-height: 40px;
          color: #0047bb;
          text-decoration:none;
        }
        svg {
          width: 15px;
          height: 15px;
          position: absolute;
    top: 0px;
    right: 0px;

          &.acc-plus {
            display: block;
          }

          &.acc-minus {
            display: none;
          }
        }

        &.active {
          svg.acc-plus {
            display: none;
          }

          svg.acc-minus {
            display: block;
          }
        }
      }

      dd {
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;        
      }
    }
  }

  @media #{$bp-tab} {
    h3 {
      width: 100%;
      text-align: center;
    }

    .accordion-wrapper {
      width: 100%;
    }
  }

  @media #{$bp-mobile} {
    .accordion-wrapper {
      .accordion {
        dt, dd {
          padding-left: 20px;
          padding-right: 20px;
        }

        dt {
          svg {
            right: 20px;
          }
        }
      }
    }
  }
}

