.site-footer{
	.module{
		margin-bottom:0;
	}
}
.block-footer {
	background-color:#000;
	display:inline-block;
	z-index:1;
	width:100%;
	.footer{
			margin:0 auto;
			max-width:1200px;
			padding-top:200px;			
			padding-bottom:100px;
			.footer-content{
				height:100%;
				width:100%;
				display:inline-block;
				text-align:right;
				position:relative;
				.left{
					line-height: 24px;

					width:50%;
					height:100%;
					//float:left;
					text-align:left;
					display:inline-block;
					position:relative;
					h6{
						margin-bottom:25px;
					}
					h2,h3{
						color:$white;
						margin-bottom:30px;
					}
				}
					.bottom-left{
						display:inline-block;
						height:60px;
						position:absolute;
						bottom:0;
						width:50%;
						left:0;
						text-align:left;
						.sub,.mail{
							font-size:14px;
							line-height:20px;
							position:relative;
							display:block;
							color:white !important;
						}
						.mail{
							font-size:14px;
							font-weight:bold;
							a:hover, a:active, a:visited,a:focus{
								color:white !important;
							}
						}
					}
				.right{
					width:50%;
					display:inline-block;
				 	float:right;
					margin-bottom: 14px; 
					color:$white;
					div{
						display:block;
						font-family: futura-pt;
						font-weight:400; 
						font-style: normal;
						font-size: 14px;
						line-height: 24px;
						color: $white; 
						margin-bottom:0;
						a, h3{

							text-decoration:underline;
							display:block;
							margin:0;
							line-height:50px;
							letter-spacing:-1px;
							:hover{
								color:$white;
							}
						}
					}

				}

				.logo-wrapper{
					display:inline-block;
				}
				.column-wrapper{
					display:inline-block;
					float:right;
						a, a:visited, a:hover{
						 display: inline-block;     
						   position: relative;    
						   z-index: 1;     
						   padding: 2em;     
						   margin: -2em; 
   							font-size:16px;
							line-height:32px;
							color:$grey;
							text-decoration:none;
							font-weight:bold;
						}
						a:hover{
							color:$white;
						cursor:pointer;
						}
				}
			img{
				display:block;
				//width:180px;
				//height:auto;
				//margin-bottom:30px;
				-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
				-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
				box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);

			}
		}
	}
	.lower-footer{
		padding:80px;
		padding-left:100px;
		.social{
			margin:15px;
			margin-left:0;
			img{
				height:20px;
				width:auto;
				margin-right:20px;
			}
		}
		.links{
			margin:15px;
			margin-left:0;
			a,h5{
				color:white;
				-moz-transition: color .1s ease-in;
				-o-transition: color .1s ease-in;
				-webkit-transition: color .1s ease-in;
				transition: color .1s ease-in;			 	

				&:hover{
					color:#333333;
				}
				display:inline-block;
				margin-right:15px;
				margin-bottom:0;
			}

		}
		.info{
			margin:15px;
			margin-left:0;
			h6{
				display:inline-block;
				margin-right:30px;
			}
		}
	}
}
@media #{$bp-mobile} {
	.block-footer{			
			width:100%;
			height:auto;
			min-height:20px;
			margin-bottom:0;
		.footer{
			width:100%;
			padding-top:200px;
			padding-bottom:100px;
			display:block;
			.footer-content{
				width:100%;
				height:100%;
				padding:30px;
				display:inline-block;
				img{
					margin-bottom:20px;
				}
				.left{
					text-align:left;
					display:block;
					margin-bottom:30px;
				}
				.right{
					width:100%;
					padding-top:60px;
					text-align:right;
					display:block;
				}
			}
		}
	}
}
@media #{$bp-tab} {
	.block-footer{			
		.footer{
			.footer-content{
				padding:30px;
				img{
				}
				
				.left{
					float:left;
				}
				.bottom-left{
					position:relative;
					width:100%;
					text-aligh:left;
					//margin-top:40px;
				}
			}
		}
	}
}
@media #{$bp-desk} {
	.block-footer{			
		.footer{
			.footer-content{
				padding:30px;				
				.left{
					float:left;
					margin-bottom:30px;

				}
				.bottom-left{
					bottom:0px;
					left:30px;
				}
			}
		}
	}
}
@media #{$bp-tab} {
	.block-footer{			
		.footer{
			.footer-content{
				padding:30px;				
				.left{
					float:left;
				}
				.bottom-left{
					bottom:0px;
					left:0px;
				}
			}
		}
	}
}