.block-list {
	padding-top:110px;
	padding-bottom:100px;
	z-index:3;
	position:relative;
	background-color:$light-grey;
	color:$black;
	
	.list-wrap{
		margin:0px;
		padding:0px;
		.list-item{
			display:inline-block;
			width:calc(100%/3 - 20px);
			.blue-line{
				background-color:$light-blue;
				height:4px;
				width:60px;
			}
			h3{
				vertical-align:top;
				text-transform:uppercase;
				margin-top:20px;
				margin-bottom:60px;
				padding-right:20px;
				display:inline-block;
			}
		}
		p{
			margin-bottom:30px;
			line-height:32px;
		}
	}
	@media #{$bp-mobile} {
		.layout-content{
			padding:30px;
			.list-item{
				display:block;
				width:100%;
			}
		}
		padding-bottom:0;
	}
}