$bp-tab-sm: "only screen and (max-width: 767px)";
$bp-tab:	"only screen and (max-width: 767px)";
.block-alternating{
	width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;
    margin-bottom:100px;
  .layout-content {
  }

	.alt-block-image{
		width:50%;
		padding:0px;
		display: table-cell;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
 
	}
	.alt-content-section{
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		background: white;
		padding:186px 100px 200px 100px;
		@media #{$bp-tab-sm} {
			width: 100%;
			display:block;
		}	
	}
		
	.alternating-section{
		width:100%;
		margin:0px;
		padding:0px;
		position: relative;
		display: table;
		height: 700px;
		@media #{$bp-tab-sm} {
			height:auto;
		}
		&:first-child {
			padding:0 0 0 0 !important;
		}
		&.image-right{
			.alt-content-section{
				float:left;
				height:100%;
			}
			.alt-block-image{
				float:right;
				height:100%;
			}
		}
	}
		text-align:left;
		
		a{
			display:inline-block;
		}

		h2 {
			@include h2-style($font-size: 50px, $line-height: 60px);
			text-align: left;
			font-weight: normal;
		}

	.text{
		@include default-font;
		margin-bottom: $block-padding;

		span{
			display:block;
			font-size:inherit !important;
			color:inherit !important;
			line-height:inherit !important;
		}
	}
	@media #{$bp-mobile} {
		.alt-block-image{
			display:block;
			width:100%;
			height:500px;
		}
		.alt-content-section{
			padding:60px 30px 60px;
		}
	}
}