@font-face {
	font-family: futura-pt, sans-serif;
	font-weight: 700;
	font-style: normal;    
}
@font-face {
	font-family: futura-pt-italic, sans-serif;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: italic;
}

.module {
  clear: both;
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    //margin: 0 0 $element-spacing 0;
}
p, li{
	@include default-font;
	margin-bottom:30px;
}
// Generally used as containers
section, header, footer, blockquote {
    margin: 0;
}
a:visited, a:hover, a:active, a:link{
	color:white !important;
}
article.page{
	margin-bottom:0;
	line-height:0;
}
html{
	background-color:$black;
	line-height:0;
}
.btn{
display: inline-block;
    border: solid 1.5px white;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    line-height:30px;
    span{
    	font-weight:700;
    	margin-top:-5px;
	    color: white;
	    font-size: 16px;
    }
    &:hover{
    	text-decoration:none;
    }
}
a.btn{
    padding: 8px 16px 8px;	
}
button{
	
}