/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

@mixin default-grid() {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.default-grid {
  @include default-grid();
}

/* This mixin is a solution to avoid the 
   Bootstrap mobile layout with margin, negative
   margin, and padding.  Use this optionally by
   making a breakpoint that is max-layout-size
   plus outer padding, and putting that breakpoint
   to add the right layout. */

@mixin mobile-layout($padding: 20px) {
  @media #{$bp-mobile-padding} {
    padding-left: $padding;
    padding-right: $padding;
  }
}

.padding-top {
  padding-top: $block-padding !important;
}

.padding-bottom {
  padding-bottom: $block-padding !important;
}

.margin-top {
  margin-top: $block-padding !important;
}

.margin-bottom {
  margin-top: $block-padding !important;
}

// Consider using flex instead
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
        transition: transform .3s linear;

  &:hover {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transition: -webkit-transform .15s linear;
              transition: transform .15s linear;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// Wordpress Specific

.aligncenter {
  display: block;
  margin: $wp-center;
}

.alignleft {
  float: left;
  margin: $wp-left;
}

.alignnone {
  margin: $wp-left;
}

.alignright {
  float: right;
  margin: $wp-right;
}

a {
  img {
    &.aligncenter {
      @extend .aligncenter;
    }

    &.alignleft {
      @extend .alignleft;
    }

    &.alignnone {
      @extend .alignnone;
    }

    &.alignright {
      @extend .alignright;
    }
  }
}

// Typography Mixins

@mixin default-font($font-family: $font-1, $font-size: 16px, $line-height: 24px, $color: black){  
  font-family: $font-family;
  font-size: 20px;
  line-height:30px;
  color: $color;
  @media #{$bp-mobile} {
      font-size: 16px;
      line-height: 24px;
  }

}
.default-font {
  @include default-font();
}
@mixin h1-style($font-family: $font-2, $font-size: 60px, $line-height: 80px, $color: black) {
  font-family: $font-family;
  font-size: 60px;
  line-height: 60px;
  color: white;
        letter-spacing:normal !important;
  font-weight:700;
  margin-bottom:40px;
  @media #{$bp-mobile} {
    font-size: 40px;
    line-height: 40px;
    letter-spacing:-2px;
  }
}

@mixin h2-style($font-family: $font-1, $font-size: 60px, $line-height: 80px, $color: black) {
  font-family: $font-family;
  font-size: 50px;
  line-height:60px;
        letter-spacing:normal !important;
  color: white;
  font-weight:400;
   margin-bottom:40px;
  @media #{$bp-mobile} {
    font-size: 40px;
    line-height: 40px;
        letter-spacing:normal !important;
  }
 
}

@mixin h3-style($font-family: $font-2, $font-size: 40px, $line-height: 50px, $color: black) {
  font-family: $font-family;
  font-size: 40px;
  line-height:60px;
        letter-spacing:normal !important;
  color: white;
  font-weight:700;
  margin-bottom:40px;
  @media #{$bp-mobile} {
    font-size: 30px;
    line-height: 40px;
        letter-spacing:normal !important;
  }

}

@mixin h4-style($font-family: $font-1, $font-size: 30px, $line-height: 40px, $color: black) {
  font-family: $font-family;
  color:white;
  font-size: 30px;
  line-height:40px;
        letter-spacing:normal !important;
  font-weight:700;
    margin-bottom:40px;
  @media #{$bp-mobile} {
    font-size: 20px;
    line-height: 30px;
        letter-spacing:normal !important;
  }
 

}

@mixin h5-style($font-family: $font-2, $font-size: 20px, $line-height: 24px, $color: black) {
  font-family: $font-family;
  color: white;
  font-size: 30px;
  line-height:40px;
        letter-spacing:normal !important;
   font-weight:400;
  margin-bottom:40px;
  @media #{$bp-mobile} {
    font-size: 20px;
    line-height: 30px;
        letter-spacing:normal !important;
  }
 


}
@mixin h6-style($font-family: $font-1, $font-size: 20px, $line-height: 24px, $color: black) {
  font-family: $font-family;
  color: white;
  font-size: 16px;
  line-height:24px;
  text-transform:uppercase;
  font-weight:700;
    margin-bottom:40px;
  @media #{$bp-mobile} {
    font-size: 16px;
    line-height: 30px;
        letter-spacing:normal !important;
  }

}


@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $color;
     opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $color;
     opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $color;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
     color:    $color;
  }
}

// Buttons

@mixin button($padding: 5px 10px,$borderColor: white, $textColor:white, $accentColor: white) {
  padding: $padding;
  border: 2px solid $borderColor;
  color: $textColor;
  text-decoration: none;
  font-family: $font-2;
  display: inline-block;
  text-transform: uppercase;
  transition: .2s;
  transform: scale(1);
  letter-spacing: 2px;

  &:hover {
    background-color: $borderColor;
    text-decoration: none;
    color: black;
    transition: .2s;
    transform: scale(1.1);
  }
}

.pilot-video-button {
  @include button();
  padding-left: 35px;
  background: url(../../image/play-button.svg) 10px 14px no-repeat;
  background-size: 16px 18px;

  &:hover {
    background-color: transparent;
  }
}

.pilot-button {
  @include button();
}