$max-width-interior : 940px;

// Colors
$black: #000000;
$white:#ffffff;
$accent: blue;
$body-grey: #eee; 
$light-grey: #e6e6e6;
$medium-grey: #ccc;
$dark-grey: #8a8a8a;
$ud-yellow:#FF9900;
$light-blue:#29AAE1;
$accent: blue;
$grey: #999999; 
$light-grey: #f2f2f2;
$medium-grey: #ccc;
$dark-grey: #8a8a8a;

// Layout
$interior-box-small : 700px;
$interior-box-medium : 940px;
$interior-box-wide : 1040px;
$block-padding: 2rem;
$element-spacing: 1rem;

// Typography

$font-1: 'futura-pt';
$font-2: 'futura-pt';


// Media Queries

$bp-mobile:	"only screen and (max-width: 600px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	"only screen and (max-width: 1020px)";
$bp-desk:	"only screen and (max-width: 1260px)";
$bp-desk-lg: "only screen and (max-width: 960px)";
//$bp-mobile-padding: "only screen and (max-width: 1240px)"; // $bp-desk-lg + mobile side padding

// Wordpress Specific

$wp-center: 5px auto 5px auto;
$wp-left:   5px 90px 70px 0;
$wp-right:  5px 0 70px 90px;

// Susy configuration

$susy: (
    'columns': susy-repeat(12),
    'gutters': 1em,
    'spread': 'narrow',
    'container-spread': 'narrow'
);