.block-team{
	width: 100%;
	padding-bottom:100px;
	position:relative;
  .layout-content {
  }
  	h3{
  		margin-bottom:5px !important;
  	}
	.team-section{
		width:100%;
		text-align:center;
		margin:0px;
		padding:0px;
		position: relative;
	}
	.team-content-section{
		margin:auto;
		max-width:1080px;
	    vertical-align: top;
	    position: relative;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: top;
	    justify-content: top;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    width: 100%;
  		.member-row{
  			width:100%;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-pack: top;
		    justify-content: top;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
			.popup-content{
				width:100%;
				max-height:0;
 transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.6s ease;
				&.active{
				 transform: scaleY(1);
					max-height:100%;
                }
				margin:15px;
				.blue-line{
					background-color:$light-blue;
					height:4px;
					width:60px;
					margin-left:80px;
				}
				.popup-wrapper{
					width:100%;
					padding:90px;
					padding-top:60px;
					text-align:left;
					p{
						margin-bottom:0;
					}				
				}

			}  		
  		}
  		.member{
			width: calc(100%/3 - (30px));
			margin:15px;
			 .team-block-image{
				width:100%;
				padding:0px;
			 	height:auto;
				float:left;
			 }
			 img.in{
			 	height:20px;
			 }
			 .team-block-image{
			 	width:100%;
			 	height:329px;
			 	overflow:hidden;
			 	img{
			 		width:100%;
//				 cover:fill;
			 	}
			 }
				.member-content{
					display:inline-block;
					width:100%;
					text-align:left;

					background-color:$black;
					padding:25px;
                -moz-transition: background-color .1s ease-in;
                -o-transition: background-color .1s ease-in;
                -webkit-transition: background-color .1s ease-in;
                transition: background-color .1s ease-in;              
					h5.member-title {
						color:$white;
						text-align: left;
						margin-bottom:7px;
					    text-transform:uppercase;
					}
					h6{
					    margin-bottom:5px;
					    text-transform:uppercase;
					}

					&:hover{
						cursor:pointer;
						background-color:white;
						h5.member-title {
							color:#333;
						}
					}
				}
				&.active{
					.member-content{
						background-color:$white;
						h5.member-title{
							color:$black;
						}
						h6{
							color:$medium-grey;
						}
					}
				}

			}


	}

}
@media #{$bp-mobile} {
	.block-team{

		padding:30px;
		.team-content-section{
			.member{
				margin:0;
				margin-bottom:30px;
				width:100%;
				&:nth-child(even){
					margin-left:0;
				}
				.team-block-image{
				 	height:auto;
				 }
			}
			.member-row{
				.popup-content{
					margin-top:0;
					margin-right:0;
					margin-left:0;
					.blue-line{
						margin-left:30px;
					}
					.popup-wrapper{
						padding:30px;
					}
				}
			}
		}
	}
}
