.block-twocolumn{
	width: 100%;
  	background-color:black;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;
    margin-top:0;
    margin-bottom:100px;
    display:inline-block;
  .two-col-container {
  	max-width:1200px;
  	width:100%;
  	margin:0 auto;
  }

	.alt-block-image{
		width:100%;
		display:inline-block;
		img{
			width:100%;
		}
		padding:0px; 
	}
	.alt-content-section{
		vertical-align: middle;
		color:white;
		h3,.text, .text p{
			color:white;
		}
		h3{
			margin-top:40px;
		}
		@media #{$bp-tab-sm} {
			width: 100%;
			display:block;
		}	
	}
		
	.twocolumn-section{
		width: calc(50% - 25px);
		position: relative;
		display: inline-block;
		@media #{$bp-tab-sm} {
			height:auto;
		}
		&:first-child {
			float:left;
			margin-right:50px;
		}
		&.image-right{
			.alt-content-section{
				float:left;
				height:100%;
			}
			.alt-block-image{
				float:right;
				height:100%;
			}
		}
	}
		text-align:left;
		
		a{
			display:inline-block;
		}

		h2 {
			@include h2-style($font-size: 50px, $line-height: 60px);
			text-align: left;
			font-weight: normal;
		}

	.text{
		@include default-font;
		margin-bottom: $block-padding;

		span{
			display:block;
			font-size:inherit !important;
			color:inherit !important;
			line-height:inherit !important;
		}
	}
	@media only screen and (max-width: 1020px){
		.alt-block-image{
			display:block;
			width:100%;
		}
	}
	@media only screen and (max-width: 1020px){
		.twocolumn-section{
margin:0;

			width:100%;
		}
	}
	@media only screen and (max-width: 1200px){
		.two-col-container{
			padding:30px;
		}
	}

}