
$header-height-599:223px;
$header-height-939:500px;
$header-height-1240:500px;
$header-height-plus:500px;
$header-height-half-599:223px;
$header-height-half-939:223px;
$header-height-half-1240:223px;
$header-height-half-plus:223px;
.block-video {
	margin-bottom:100px;
	.interior-container{
		.shadow-card{
			width:calc(100%);
			line-height:0;
			margin-bottom:0;
			position: relative;
			.video-btn{
				display:inline-block;
				text-decoration:none;
			    font-family: 'geomanistbook';
			    font-size:16px;
			    line-height:16px;
			    letter-spacing:1px;
			    COLOR:#868686;
			    margin-bottom:40px;
			    img{
			    	height:25px;
			    	display:inline-block;
			    }
			}
			.layout-content {
				line-height:normal;
				display:inline-block;
				width: 100%;
			}
			.bg-image {
				position:relative;
				//height:$header-height-plus;
				margin: 0px auto;

				width: 100%;
				background-size: cover;
				background-position:  center;
				overflow: hidden;
				.title-div{
					top:0;
				}
				.video {
					position: absolute;
					height:100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					width: 100%;
				}
				.img-overlay {
					position: absolute;
					top: 0;
					z-index:9;
				 	margin: 0px auto;
					height:$header-height-plus;
					@video only screen and (max-width: 939px) {
						height: calc( #{$header-height-939} );
					 	margin: 0px auto;
					}
					width: 100%;
				}
			}
			.video-content{
				position:relative;
				text-align:left;
				height:100%;
				display:inline-block;
				top:0;
				.title-div{
					top:0;
					.title-wrap{
						max-width:600px;
						margin-top:40px;
						margin-bottom:200px;
						color:white;
						justify-content: left;
						h6{
							text-align:left;
							margin-bottom:10px;
						}
						p{
							color:white;
						}
					}
				}
				width:100% !important;
			}
			.img-block-wrap.half-width {
				display: inline-block;
				width: 50%;
				position: relative;

				&:first-of-type {
					border-right: 1px solid #f5f5f5;
				}
				.bg-image {
					@video only screen and (max-width: 1400px) {
						height: auto;
						padding-bottom: 100%;
					}
				}
			}
		}
	}
}
.block-video{
	.interior-container{
		.shadow-card.half-width{
			width: calc(50% - 20px);
			font-size:0;
	//		max-width:587px;
			position:relative;
			top:0;
			height:100%;
			vertical-align:top;
			float:left;
			&._second{
				float:right;
				margin-left:60px;
			}
			.bg-image {
				position:relative;
				//height:$header-height-half-plus;
			}
			.video-foot-content{
				padding-left:0;
				.top-bar{
					width:100%;
					height:30px;
					display:block;
					float:none;
				}
				.left-bar{
					display:none;
				}
				.title-div{
					width:100%;
					text-align:center;
					margin:0 !important;
					padding:0;
					.title-wrap{
						line-height:normal;
						width:100%;
						text-align:left;
						.button-wrapper{
							display:inline-block;
						}
					}
				}
				&.no-banner{
					.top-bar{
						display:inline-block;
					}
					.left-bar{
						float:left;
						display:inline-block;
						min-height:100%;
						width:30px;
					}
					.title-div{
						width:calc(100%);
						display:inline-block;
					}
				}

			}
			.video-foot-content{
				width:calc(100% - 20px);
				display:block !important;
				.title-div{
				}
			}
		}
	}
}
@media only screen and (max-width: 1260px){
	.block-video{
		.interior-container{
			.shadow-card{
			padding-left:30px;
			padding-right:30px;

				.video-content{
					.title-div{
						.title-wrap{
						    h6{
						        font-size:36px !important;
						        line-height:40px !important;
						    }
						}
					}  
			    }
			}
		}
	}
}

