
.has-parent-header{
	.block-header{
		box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-webkit-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-moz-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
	}
	.block-slideshow {
		margin-bottom:0;
	}
}
.block-slideshow {
	position: relative;
	margin-bottom:100px;
	//height:100vh;
	.slides-block-image{
		width:100%;	
		//height:100vh;
		//max-height:720px;
		object-fit:cover;
		//max-width:1140px;
		margin: 0 auto;
	}
	.slides-section{
		//max-height:720px;
		.feature-wrapper{
			//display:inline-block;
			background-color:$white;

		//	max-height:720px;
			height:100%;
		}
	}
	.slick-slider{
		//max-height:720px;
		display:inline-block;
		position: relative;
		width:50%;
&.image-left{
			float:left;
		}
		.slick-list{
			height:100%;
			.slick-track{
				height:100%;
				.slick-slide{
					height:100%;
					.caption-inner-wrapper{
						max-width:500px;
					}
				}
			}
		}

	}
	.slick-slide{
		//height:100vh;
		//max-height:720px;
		overflow:hidden;
		text-align:center;
	}
	.slick-current{
		//background-color:red;
	}
	.slick-prev:before{
		content: url('/wp-content/themes/pilot/mason-modules/slideshow/img/Arrow-Left.svg');
	}
	.slick-next:before{
		content: url('/wp-content/themes/pilot/mason-modules/slideshow/img/Arrow-Right.svg');
	}
	#html5-watermark{
		display:none !important;
	}
	.caption-wrapper{
		display:inline-block;
		font-family:'futura-pt';
		//height:100%;
		float:left;
		width:50%;
		li{
			margin-bottom:10px;
		}
		.slick-caption{
			max-width:630px;
			float:right;
		}
		.nav-wrapper-holder{
			width:100%;
			max-width:600px;
			height:200px;
//			background-color:yellow;
		}
		.nav-wrapper, .nav-wrapper-mobile{
			//background-color:white;
//			background-color:blue;
			z-index:99;
			//width:50%;
			.slick-next, .slick-prev{
				z-index:9999;
				position:relative;
			}
			.slick-prev{
				margin-left:30px;
				display:inline-block !important;
			}
			.slick-next{
				display:inline-block !important;
				margin-left:40px;
			}
		}
		.nav-wrapper-wrapper{
			height:200px;
			position:absolute;
			bottom:0;
			width:calc(50% - 30px);

			padding-left:30px;
			.nav-wrapper-inner{
					float:right;
					width:100%;
					max-width:570px;
				.nav-wrapper{
					height:200px;
					float:left;
					//padding-left:30px;
					.slick-next, .slick-prev{
						z-index:9999;
						position:relative;
					}
					.slick-prev{
						display:inline-block !important;
						width:auto;
					}
					.slick-next{
						display:inline-block !important;
						width:auto;
						margin-left:40px;
						right:auto;
					}
				}
			}
		}
		.nav-wrapper-mobile{
			display:none;
		}

		&.image-left{
			float:left;
			.slick-caption{
				float:left;
			}
			.nav-wrapper-wrapper{
				.nav-wrapper-inner{
					float:left;
					width:100%;
					max-width:570px;
					.nav-wrapper{
						width:auto;
						//padding-right:30px;
						float:right;
						.slick-next{
						}
						.slick-prev{
						}
					}
				}
			}
			.caption-inner-wrapper{
				float:right;
				width:100%;
			}
		}
		.slick-caption{
		width:100%;
			//display:block;
		}
		.caption{
		outline: 0 !important;
			background-color:$white;
			text-align:left;
			height:80%;
			padding-top:100px;
			padding-left:30px;
			padding-right:30px;
			overflow:visible;
			a:hover{
				cursor:pointer;
				text-decoration:none;
			}
			h3{
				font-family: futura-pt;
				font-weight:700;
				font-style: normal;
				font-size: 60px;
				line-height: 60px;
				margin-bottom: 40px; 
				color: #000000;
				letter-spacing:normal !important;
			}
			h4{
				font-family: futura-pt;
				font-weight:700;
				font-style: normal;
				font-size: 16px;
				line-height: 30px;
				margin-bottom: 20px;
				color: #000000;
				letter-spacing:normal !important;
				text-transform:uppercase;
			}
			.content{
				font-family: futura-pt;
				font-weight:400;
				font-style: normal;
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 20px;
				color: #000000; 
			}
			&.slick-current{
				color:black;
				//overflow:hidden;
			}
		}
	}

	.parent-header{
		display:flex;
		.interior-container{
			h6{
				a, a:visited, a:hover{
					color:#999999;
					text-decoration:none;
					margin-right:15px;
				}
				a.active{
					margin-left:15px;

					text-decoration:underline;
				}
			}
		}
	}
	.layout-content {
		//line-height:normal;
		display:inline-block;
		width: 100%;
		background-color:white;
	}
	.bg-image {

		margin: 0px auto;

		//height: calc( #{$header-height-desk} );
		width: 100%;
		background-size: cover;
		background-position:  center;
		overflow: hidden;
		.video {
			// should cover entire element
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
		}
		.img-overlay {
			position: absolute;
			top: 0;
		 	margin: 0px auto;
			height: calc( #{$header-height-desk} );
			width: 100%;
			max-width:1220px;

		}
	}
	.content-container{
		height:auto;
		line-height:normal;
		margin-bottom:0;
		margin-left:auto !important;
		margin-right:auto !important;
		display:inline-block;
		.title {

			height:100%;
			display:inline-block;
			z-index: 999;
			img {
				display: block;
				margin: 0 auto;
			}
			.title-wrap {
				float:left;
				margin-right: auto;
				.video-btn{
					font-size:18px;
					font-weight:bold;
					color:#F3B837;
					text-decoration:none;
					border:solid 2px #F3B837;
					border-radius: 7.5px;
					padding:15px; 
					&:hover {

					}
					svg{
						height:20px;
						width:20px;
						margin-top:-2px;
						margin-left:15px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1019px) {
		.slick-next, .slick-prev{
			width:auto !important;
			right:default;
		}
		.slick-next{
			margin-left:30px !important;
		}

	}
	@media only screen and (max-width: 1019px) {
		position: relative;
//		height:100vh;
//		max-height:720px;
		.slides-section{
			.feature-wrapper{
				height:auto;
			}
		}
		.slick-slider:not(.slick-caption){
			//height:50vh;
			height:auto;
		}
		.slides-block-image{
			width:100%;	
//			height:100vh;
//			max-height:720px;
			object-fit:cover;
			//max-width:1140px;
			margin: 0 auto;
		}
		.slides-section{
//			max-height:720px;

			.feature-wrapper{

//				max-height:720px;
//				height:100vh;
				> .slick-slider{
					width:100%;
//					max-height:360px;
					.slick-slide{
//						height:50vh;
//						max-height:360px;
						overflow:hidden;
						text-align:center;
					}

				}

			}
		}
		.caption.slick-slide{
//			width:100% !important;
			float:left;
		}

		.caption-wrapper.image-left,
		.caption-wrapper.image-right,
		.caption-wrapper{
			float:left;
			.caption-inner-wrapper,.slick-caption{
				float:left;
			}
		}
		.caption-wrapper{
						background-color:$white;

			display:inline-block !important;
			.slick-slider{
				//height:50vh;
				//max-height:720px;
				display:inline-block;
				position: relative;
				width:50%;
			}
			.slick-slide{
				//height:100vh;
				//max-height:720px;
				overflow:hidden;
				height:auto !important;
				text-align:center;
			}
			display:block;
			font-family:'futura-pt';
			//height:50%;
			float:none;
			width:100%;
			.nav-wrapper-mobile-wrapper{
				width:100%;
				display:inline-block;

				.nav-wrapper-mobile{
					display:inline-block;
					padding-right:30px;
					float:right;
					height:60px !important;
					.slick-prev{
						margin:0 !important;
						left:-40px;
					}
					.slick-next{
						margin:0 !important;
						right:0;						
					}
				}
			}
			.nav-wrapper-holder{
				display:none;
			}
			.nav-wrapper{
				background-color:white;
				margin-bottom:45px;
			//	margin-top:-30px;
				background-color:$white;
				z-index:99;
				width:100%;
				position:relative;
				bottom:0;

				padding-left:30px;
				.slick-next, .slick-prev{
					z-index:9999;
				}
				.slick-prev{
					display:inline-block !important;
					left:auto;
				}
				.slick-next{
					display:inline-block !important;
					right:auto;
				}
			}
			.nav-wrapper, .nav-wrapper-holder{
				display:none;
			}
			.slick-caption{
			width:100%;
				//display:block;
			}
			.caption{
				outline: 0 !important;
				background-color:$white;
				text-align:left;
				height:80%;
				padding-top:30px;
				padding-left:30px;
				padding-right:30px;
				padding-bottom:30px;
				a:hover{
					cursor:pointer;
					text-decoration:none;
				}
				h3{
					font-family: futura-pt;
					font-weight:700;
					font-style: normal;
					font-size: 40px;
					line-height: 40px;
					margin-bottom: 30px; 
					color: #000000;
					letter-spacing: -2px; 
				}
				h4{
					font-family: futura-pt;
					font-weight:700;
					font-style: normal;
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 16px;
					color: #000000;
					text-transform:uppercase;
				}
				.content{
					font-family: futura-pt;
					font-weight:400;
					font-style: normal;
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 20px;
					color: #000000; 
				}
			}
		}
	}
	@media #{$bp-tab} {
		.caption{
			h3{
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 40px; 
			}
			h4{
				font-size: 14px;
				line-height: 30px;
			}
			.content{
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 16px;
			}
		}
	}
	@media only screen and (min-width: 1020px) {
		.slick-slider{
			height:100%;
			min-height:720px;

		}
	}
}