
.has-parent-header{
	.block-header{
		box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-webkit-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-moz-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
	}
	.block-slide {
		margin-bottom:0;
	}
}
.block-slide {
	position: relative;
	margin-bottom:100px;
	//height:100vh;
	//max-height:720px;

	h3{
		text-transform:uppercase;
	}
	.slides-block-image{
		width:100%;	
		//height:100vh;
		//max-height:720px;
		object-fit:cover;
		//max-width:1140px;
		margin: 0 auto;
	}
	.slides-section{
		//max-height:720px;
		.feature-wrapper{
//			background-color:$white;

			//max-height:720px;
		//	height:100%;
		}
	}
	.slick-slider{
		max-height:720px;
		display:block;
		position: relative;
		width:100%;
	}
	.slick-slide{
		//height:100vh;
		max-height:720px;
		overflow:hidden;
		text-align:center;
	}
	.slick-current{
		//background-color:red;
	}
	.slick-prev:before{
		content: url('/wp-content/themes/pilot/mason-modules/slide/img/Arrow-Left-WHITE.svg');
	}
	.slick-next:before{
		content: url('/wp-content/themes/pilot/mason-modules/slide/img/Arrow-Right-WHITE.svg');
	}
	#html5-watermark{
		display:none !important;
	}
	.caption-wrapper{
		display:block;
		font-family:'futura-pt';
		//height:100%;
		//float:left;
		//width:50%;
		.nav-wrapper{
			display:inline-block;
			//background-color:white;
			//background-color:blue;
			z-index:99;
			width:50%;
			float:right;
			margin-top:55px;
			text-align:right;
			.slick-next, .slick-prev{
				display:inline-block;
				z-index:9999;
				position:relative;
			}
			.slick-prev{
				display:inline-block !important;
				width:100px;
				left:auto;
			}
			.slick-next{
				display:inline-block !important;
				width:100px;
				margin-left:40px;
				right:auto;
			}
		}
		.slick-caption{
		width:50%;
			//display:block;
		}
		.caption{
			outline: 0 !important;
			text-align:left;
			padding-top:40px;
			padding-bottom:100px;
			height:auto;
			a:hover{
				cursor:pointer;
				text-decoration:none;
			}
			h6{
				margin-bottom:10px;
			}
			.content p{
				font-family: futura-pt;
				font-weight:400;
				font-style: normal;
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 20px;
				color: white; 
			}
			&.slick-current{
				color:black;
				overflow:hidden;
			}
		}
	}

	.parent-header{
		display:flex;
		.interior-container{
			h6{
				a, a:visited, a:hover{
					color:#999999;
					text-decoration:none;
					margin-right:15px;
				}
				a.active{
					margin-left:15px;

					text-decoration:underline;
				}
			}
		}
	}
	.layout-content {
		line-height:normal;
		width: 100%;
		max-width:1200px;
		margin:0 auto;
	}
	.bg-image {

		margin: 0px auto;

		height: calc( #{$header-height-desk} );
		width: 100%;
		background-size: cover;
		background-position:  center;
		overflow: hidden;
		.video {
			// should cover entire element
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
		}
		.img-overlay {
			position: absolute;
			top: 0;
		 	margin: 0px auto;
			height: calc( #{$header-height-desk} );
			width: 100%;
			max-width:1220px;

		}
	}
	.content-container{
		height:auto;
		line-height:normal;
		margin-bottom:0;
		margin-left:auto !important;
		margin-right:auto !important;
		display:inline-block;
		.title {

			height:100%;
			display:inline-block;
			z-index: 999;
			img {
				display: block;
				margin: 0 auto;
			}
			.title-wrap {
				float:left;
				margin-right: auto;
				.video-btn{
					font-size:18px;
					font-weight:bold;
					color:#F3B837;
					text-decoration:none;
					border:solid 2px #F3B837;
					border-radius: 7.5px;
					padding:15px; 
					&:hover {

					}
					svg{
						height:20px;
						width:20px;
						margin-top:-2px;
						margin-left:15px;
					}
				}
			}
		}
	}
	@media #{$bp-tab} {
		position: relative;
		//height:100vh;
		max-height:720px;
		h3{
			text-transform:uppercase;
		}
		.slides-block-image{
			width:100%;	
			height:100vh;
			max-height:720px;
			object-fit:cover;
			//max-width:1140px;
			margin: 0 auto;
		}
		.slides-section{
			max-height:720px;
padding:30px;
			.feature-wrapper{

				max-height:720px;
				//height:100vh;
				> .slick-slider{
					width:100%;
					max-height:360px;
					.slick-slide{
						height:100%;
						max-height:800px;
						overflow:hidden;
						text-align:center;
					}

				}

			}
		}
		.caption-wrapper{
				//		background-color:$white;
				line-height:0;
			display:inline-block !important;
			.slick-slider{
				display:inline-block;
				position: relative;
				width:50%;
			}
			.slick-slide{
				background-color:black;
				overflow:hidden;
				text-align:center;
			}
			display:block;
			font-family:'futura-pt';

			float:none;
			width:100%;
			.nav-wrapper{
				width:100%;
				position:relative;
text-align:left;
				.slick-prev{
					display:inline-block !important;
					width:75px;
					left:auto;
				}
				.slick-next{
					display:inline-block !important;
					width:75px;
					right:auto;
				}
				.slick-next, .slick-prev{
					z-index:9999;
					width:auto !important;
					transform:none;
				}
			}
			.slick-caption{
				width:100%;
			}
			.caption{
				outline: 0 !important;
				background-color:black;
				text-align:left;
				height:80%;
				padding-top:30px;
				padding-left:0px;
				padding-right:0px;
				a:hover{
					cursor:pointer;
					text-decoration:none;
				}
				h3{
					font-family: futura-pt;
					font-weight:700;
					font-style: normal;
					font-size: 40px;
					line-height: 40px;
					margin-bottom: 30px; 
					color: white;
					letter-spacing:normal !important;
				}
				h4{
					font-family: futura-pt;
					font-weight:700;
					font-style: normal;
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 16px;
					color: #000000;
					text-transform:uppercase;
				}
				h6{
					font-family: futura-pt;
					font-weight:700;
					font-size: 16px;
					line-height: 24px;
				}
				.content{
					font-family: futura-pt;
					font-weight:400;
					font-style: normal;
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 20px;
					color: white; 
				}
			}
		}
	}
	@media #{$bp-tab} {
		.caption{
			h3{
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 40px; 
			}
			h4{
				font-size: 14px;
				line-height: 30px;
			}
			.content{
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 16px;
			}
		}
	}
	@media #{$bp-desk} {
		.slides-section{
			padding:30px;
		}
	}

}
