body.open-mobile{
}
.block-header {
	width:100%;
	text-align:center;
	margin-bottom:0;
	background-color:transparent;
	z-index:99999;
	position:absolute;
	.dark-bg{
		display:none;
	}
	.mobile-menu{
		display:inline-block;
	}
	.header{
	width:100%;
	position:relative;
		display:inline-block;

	}
	.header-one{
		//position:absolute;
		z-index:9;
			img.light-bg{
			//	display:none !important;
			}
			img.dark-bg{
			//	display:inline-block !important;
			}
			img.menu-open.dark-bg{
				display:none !important;
			}

	}
	.header-two{
	    background-color: #000000;
		height:0;
		z-index:999;
		//position:absolute;
		position:absolute;
left:0;
top:0;

		transition-property: height;
		transition-duration: 1s;
		img.dark-bg{
			display:inline-block !important;
		}

		.header-content{
			display:none;
		}
		.mobile-nav{
			float:right;
		}
		.primary-nav{
			margin-top:0 !important;
		}
	}
	.header-content{
		display:inline-block;
		max-width:1200px;
		height:auto;
		width:100%;
		margin:0 auto;
		margin-top:30px;

		z-index:1;
		.mobile-nav{
			display:none;
		}

		.logo-wrapper{
			float:left;
		}
		p{
			font-size:12px;
			color:#999999;
			margin-bottom:0;
		}
		.links{
			text-align:right;
			float:right;
			margin-top:-10px;
		 	a{
				 	font-weight:700;
				 	font-size:16px;
				 	line-height:20px;
				 	margin-left:30px;
				 	color:white;
				 	font-family:'futura-pt';
			 	opacity:1;
				-moz-transition: color .2s ease-in;
				-o-transition: color .2s ease-in;
				-webkit-transition: color .2s ease-in;
				transition: color .2s ease-in;			 	
			 		text-decoration:none;
			 	&:hover{
			 		text-decoration:underline;
			 	}
		 	}
		 	li{
		 		margin:0;
		 		a{
		 			line-height:50px;
		 			letter-spacing:0px;
		 			font-weight:700;
		 		}
		 	}
		 	li.active{
		 		a{
			 		text-decoration:underline;		 			
		 		}
		 	}
			ul.primary-nav{
				display:inline-block;
				list-style-type:none;
				li{
					display:inline-block;
				}
			}
		}
	}
		.mobile-nav{
			display:inline-block;
			height:40px;
//			float:left;
			.menu-button{
				cursor:pointer;
				 span{
				 	letter-spacing:1px;
				 	font-weight:bold;
				 	font-size:16px;
				 	line-height:20px;
				 	margin-left:12px;
				 	color:white;
				 	font-family:'futura-pt';
				-moz-transition: color .1s ease-in;
				-o-transition: color .1s ease-in;
				-webkit-transition: color .1s ease-in;
				transition: color .1s ease-in;			 	
			 	&:hover{
			 		text-decoration:none;
			 		color:#999999;
			 	}

				 }
				.menu-open{
					width:20px;
					height:12px;
				}
				.menu-close{
					cursor:pointer;
					display:none;
//					height:20px;
				}
			}
		}
		.mobile-menu{
			text-align:left;
			height:0;
			opacity:0;
			margin-top:108px;
			transition-property: opacity;
			transition-duration: 0.5s;
			ul.primary-nav{

				//width:420px;
				list-style:none;
				margin:0;
				padding:0;
    margin-top: 0px !important;				
				li{
					padding: 20px 0px 20px 0px;
					margin-bottom:1px;
					&:hover{
						margin-bottom:0px;
					}
					a, a:hover{
						font-size:30px;
					}
				}
			}
			.primary-nav{
				padding:0;
				margin:0;
				display:none;
				li{
					margin:0;
					padding:0 !important;
					&.red-button{
						display:none;
					}
					text-align:center;				
					.sub-nav{
						list-style-type:none;
					}
					a, a:hover, a:visited{
						color:white;
						font-size:30px;
						font-weight:700;
						line-height:50px;
						letter-spacing:-1px;
						text-decoration:underline;
					}
				}
			}

		}

		&.open-mobile{
			.header-one{
				display:none;

			}
			.header-two{
				position:absolute;
				left:0;
				top:0;
				z-index:999;
				background-color:#000000;
				height:100vh;
				transition-property: height;
				transition-duration: 1s;
				.header-content{
					display:inline-block;
				}
				img.menu-open.dark-bg{
//					display:none !important;
				}

			}
			.mobile-menu{
				display:inline-block !important;
				opacity:1;
				height:100%;
				margin-top:0px;
				transition-property: opacity;
				transition-duration: 1s;
				transition-delay: 0.25s;
				padding:40px 30px 200px 30px;
				.primary-nav{
					display:block;
					margin-top:70px;
				}
			}
			.links{
				visibility:hidden;
			}
			.menu-button{
				span{
					visibility:hidden;
				}
			}
			img.menu-close{
				display:inline-block !important;
			}
		}
}
body.dark-bg{
	.block-header {
		.menu-button{
			span{
				color:$white;
			}
		}
		.light-bg{
			display:none;
		}
		.dark-bg{
			display:inline-block;
		}
		.header-one{
			img.light-bg{
				display:none !important;
			}
			img.dark-bg{
				display:inline-block !important;
			}
			img.menu-open.dark-bg{
				display:inline-block !important;
			}

		}

		.links{
			a{
				color:$white;			
			}
		}
	}
}
@media #{$bp-tab} {
	.block-header{
		.header-content{
//			padding-left:30px;
		}
		.mobile-nav{
			float:right;
			display:inline-block !important;
			ul.primary-nav{
				display:none;
				text-align:left;
				max-width:100%;
				height:0;
			}

		}
		&.open-mobile{
			.mobile-menu{
				display:inline-block;
				ul.primary-nav{
					margin-top:0 !important;
					display:inline-block;
				}

			}

		}
		.menu-button{
			span{
				display:none;
			}
		}
		.links{
			display:none;
		}
		.header-content{
		}
	}
}
@media #{$bp-desk} {
	.block-header{
		.header{
			padding-left:30px;
			padding-right:30px;
		}
	}	
}
body.open-mobile{
	height:100vh;
	overflow:hidden;
}